@page "/"

<h1>Welcome to Rainbow OF</h1>

Welcome to Rainbow Order Fulfilment manager.

<h2>
    Currently Testing:
</h2>

<ul class="nav flex-column">
    <li class="nav-item px-2">
        <NavLink class="nav-link" href="/Items">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Items
        </NavLink>
    </li>
    <li class="nav-item px-2">
        <NavLink class="nav-link" href="/ItemCategories">
            <span class="oi oi-tags" aria-hidden="true"></span> Categories
        </NavLink>
    </li>
    <li class="nav-item px-2">
        <NavLink class="nav-link" href="/ItemAttributes">
            <span class="oi oi-badge" aria-hidden="true"></span> Attributes
        </NavLink>
    </li>
    <li class="nav-item px-2">
        <NavLink class="nav-link" href="/ItemAttributeVarieties">
            <span class="oi oi-badge" aria-hidden="true"></span> Attribute Varieties
        </NavLink>
    </li>
</ul>


<Blazorise.Divider />
<ul>
    <li class="nav-item">
        <NavLink class="nav-link" href="/WooImport">
            <span class="oi oi-cloud-upload" aria-hidden="true"></span> from Woo
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/Test">
            <span class="oi oi-badge" aria-hidden="true" /> Test
        </NavLink>
    </li>
</ul>

<Blazorise.Divider />
<label style="background-color: @myColour; color: @myFGColour">@myColour</label>
<Button Color="Color.Secondary" Clicked="(() => colorSelector.ShowModal())"><Icon Name="IconName.PaintRoller"></Icon></Button>
<Button Color="Color.Secondary" Clicked="(() => colorFGSelector.ShowModal())"><Icon Name="IconName.PaintBrush"></Icon></Button>

<RainbowOF.Components.Modals.ColorSelector @ref="colorSelector" ColourValue="@myColour" ColourValueChanged="@((bg)=> myColour = bg)" />
<RainbowOF.Components.Modals.ColorSelector @ref="colorFGSelector" ColourValue="@myFGColour" ColourValueChanged="@((v) => myFGColour = v)" />


<hr />


<Check TValue="bool" Checked="@(myShowOption)" CheckedChanged="@((v) => myShowOption = v)">Show Confirm Option</Check>

<Button Color="Color.Light" Clicked="(() => ShowConfirm())"><Icon Name="IconName.Bell"></Icon>Confirmation</Button>


<RainbowOF.Components.Modals.ConfirmModalWithOption @ref="_confirmModalWithOption"
                                                    ConfirmationClicked="ConfirmPopUp_Click"
                                                    ConfirmationMessage=@($"Are you sure?")
                                                    ConfirmButtonText="Yes"
                                                    ConfirmOptionCheckText="Maybe"
                                                    ShowConfirmOption="false"
                                                    CancelButtonText="Cancel" />

<label class="alert-info">@myValue</label>

@code {
    public string myColour { get; set; } = "#F5a590";
    public string myFGColour { get; set; } = "#000000";
    RainbowOF.Components.Modals.ColorSelector colorSelector { get; set; }
    RainbowOF.Components.Modals.ColorSelector colorFGSelector { get; set; }

    private string myValue = "";
    private bool myShowOption = true;

    private RainbowOF.Components.Modals.ConfirmModalWithOption _confirmModalWithOption { get; set; }

    void OnColorChanged(string value)
    {
        myColour = value;
    }

    void ShowConfirm()
    {
        _confirmModalWithOption.ShowModal("This is a confirmation", "Are you sure you want to confirm?", "Please Confirm", myShowOption);
        //StateHasChanged();
    }

    void ConfirmPopUp_Click(RainbowOF.Components.Modals.ConfirmModalWithOption.ConfirmResults confirmationOption)
    {
        myValue = $"Clicked: {confirmationOption.ToString()}";
        StateHasChanged();
    }


}