@page "/ItemAttributeVarieties"
@using Blazorise

<Row Style="z-index: 0" Margin="Margin.Is0">
    <Column>
        <Card Margin="Margin.Is0">
            <CardHeader>
                <CardTitle><h2>Attribute Varieties&nbsp;<Icon Name="IconName.BookReader" /></h2></CardTitle>
            </CardHeader>
            <CardBody>
                <Fields>
                    <Field Style="display: inline-flex">
                        <FieldLabel Margin="Margin.Is1">
                            Item Attribute&nbsp;
                        </FieldLabel>
                        <FieldBody Margin="Margin.IsAuto">
                            @if (_ItemAttributes == null)
                            {
                                <Blazorise.Badge Color="Color.Primary">Loading...</Blazorise.Badge>
                            }
                            else
                            {
                                <Tooltip Text="Select a Attribute whose varieties you want to edit">
                                    <Select TValue="Guid" SelectedValue="@AttributeParentId" SelectedValueChanged="@((v) => OnSelectedAttributeChange(v) )">
                                        <SelectItem TValue="Guid" Value="Guid.Empty">n/a</SelectItem>
                                        @foreach (var item in _ItemAttributes)
                                        {
                                            <SelectItem TValue="Guid" Value="@(item.Key)">@item.Value</SelectItem>
                                        }
                                    </Select>
                                </Tooltip>
                            }
                        </FieldBody>
                    </Field>
                </Fields>
            </CardBody>
        </Card>
    </Column>
</Row>
@if (AttributeParentId != Guid.Empty)
{
    <Row Margin="Margin.IsAuto">
        <Column>
            <Card Margin="Margin.Is0">
                <CardHeader>
                    <CardTitle><h3>@_ItemAttributes[AttributeParentId]:&nbsp;</h3></CardTitle>
                </CardHeader>
                <CardBody Margin="Margin.Is0">
                    <ItemAttributeVarietiesComponent @ref="@_VarietiesComponent" ParentItemAttributeLookupId="@AttributeParentId" StartingPageSize="15" />
                </CardBody>
            </Card>
        </Column>
    </Row>
}
