<Modal @ref="modalRef">
    <ModalBackdrop />
    <ModalContent IsCentered="true" Size="ModalSize.Large">
        <ModalHeader>
            <ModalTitle>@ConfirmationTitle</ModalTitle>
            <CloseButton Clicked="@(() => OnConfirmationChange(false))" />
        </ModalHeader>
        <ModalBody>
            @ConfirmationMessage
        </ModalBody>
        <ModalFooter>
            <Blazorise.Button Color="@ConfirmColor" Clicked="@(() => OnConfirmationChange(true))">@ConfirmButtonText</Blazorise.Button>
            <Button Color="Color.Secondary" Clicked="@(() => OnConfirmationChange(false))">@CancelButtonText</Button>
        </ModalFooter>
    </ModalContent>
</Modal>
