@page "/ViewWooSyncLog"
@using Blazorise.DataGrid
@using RainbowOF.Models.Logs

<Row>
    <Column>
        <Card Margin="Margin.Is2.OnY">
            <CardHeader>
                <CardTitle>Woo Sync Log</CardTitle>
            </CardHeader>
            <CardBody Margin="Margin.Is1">
                <Fields>
                    <Field Style="display: inline-flex">
                        <FieldLabel>
                            Filter By:
                        </FieldLabel>
                        <FieldBody>
                            @if (DatesInLog == null)
                            {
                                <span class="bg-info">Loading Items...</span>
                            }
                            else
                            {
                                <Select @bind-SelectedValue="@IndexSelectedDateTimeInLog" @onchange="OnLogDateChangedAsync">
                                    @{
                                            int i = 0;
                                            foreach (var when in DatesInLog)
                                            {
                                            <SelectItem Value="@i">@String.Format("{0:g}", when)</SelectItem>
                                                i++;
                                            }
                                    }
                                </Select>
                            }
                        </FieldBody>
                    </Field>
                    <Field Style="display: inline-flex">
                        <FieldLabel>
                            Custom Search
                        </FieldLabel>
                        <FieldBody>
                            <TextEdit @bind-Text="@customFilterValue" />
                        </FieldBody>
                    </Field>
                    <Field JustifyContent="JustifyContent.End">
                        <FieldLabel>
                            Page Size
                        </FieldLabel>
                        <FieldBody>
                            <Select @bind-SelectedValue="@PageSize" style="width: 6em">
                                <SelectItem Value=10>10</SelectItem>
                                <SelectItem Value=15>15</SelectItem>
                                <SelectItem Value=20>20</SelectItem>
                                <SelectItem Value=30>30</SelectItem>
                                <SelectItem Value=50>50</SelectItem>
                                <SelectItem Value=75>75</SelectItem>
                                <SelectItem Value=100>100</SelectItem>
                                <SelectItem Value=150>150</SelectItem>
                            </Select>
                        </FieldBody>
                    </Field>
                </Fields>
            </CardBody>
        </Card>
    </Column>

</Row>

<DataGrid TItem="WooSyncLog" Data="@WooSyncLogRows" PageSize="@PageSize" Sortable="@IsSortable" CustomFilter="@OnCustomFilter" ShowPager="@DoShowPager"
          Striped="true" Hoverable="true" Responsive="true">
    <EmptyTemplate>
        No items logged yet...
    </EmptyTemplate>
    <LoadingTemplate>
        <div class="spinner-border m-5" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </LoadingTemplate>
    <DataGridColumns>
        <DataGridColumn TItem="WooSyncLog" Field="@nameof(WooSyncLog.WooSyncDateTime)" DisplayFormat="{0:g}" Filterable="true" Caption="When" Sortable="true">
        </DataGridColumn>
        <DataGridColumn TItem="WooSyncLog" Field="@nameof(WooSyncLog.Section)" Caption="Section" Sortable="true" />
        <DataGridColumn TItem="WooSyncLog" Field="@nameof(WooSyncLog.Parameters)" Caption="Parameters" Sortable="true" />
        <DataGridColumn TItem="WooSyncLog" Field="@nameof(WooSyncLog.Result)" Caption="Result" Sortable="true" />
        <DataGridColumn TItem="WooSyncLog" Field="@nameof(WooSyncLog.Notes)" Caption="Notes" Sortable="true" />
    </DataGridColumns>
</DataGrid>

@*<Field>
        <FieldLabel>
        </FieldLabel>
        <FieldBody>
            <Check @bind-Checked="@IsSortable">Sortable</Check>
        </FieldBody>
    </Field>
    <Field>
        <FieldLabel>
        </FieldLabel>
        <FieldBody>
            <Check @bind-Checked="@DoShowPager">Show Pager</Check>
        </FieldBody>
    </Field>
                    </Fields>*@



@*<DisplayTemplate>
        @{
            var date = (context as WooSyncLog)?.WooSyncDateTime;

            if (date != null)
            {
                @($"{date.Value.ToShortDateString()}:{date.Value.ToShortTimeString()}")
            }
        }
    </DisplayTemplate>*@


@*<DetailRowTemplate>
        @{
            var
        }
        <DataGrid TItem="WooSyncLog"
                  Data="@WooSyncLogRows"
                  Sortable="false"
                  ShowCaptions="false">
            <DataGridColumn TItem="WooSyncLog" Field="@nameof(WooSyncLog.Parameters)" Caption="Parameters" />
            <DataGridColumn TItem="WooSyncLog" Field="@nameof(WooSyncLog.Notes)" Caption="Notes" />
        </DataGrid>
    </DetailRowTemplate>*@
