@page  "/WooImport"

<h3>Woo Import</h3>

@if (WooSettingsModel == null)
{
    <div class="spinner-border m-5" role="status">
        <span class="sr-only">Loading...</span>
    </div>

}
else
{
    @if (IsSaved)
    {
        <Blazorise.Badge Class="alert-info">Preferences Saved...</Blazorise.Badge>
    }

    <EditForm Model="@WooSettingsModel" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">
        <DataAnnotationsValidator />
        <Blazorise.ValidationSummary />

        <Blazorise.Accordion>
            <Blazorise.Collapse Visible="@collapseWooVisible">
                <Blazorise.CollapseHeader>
                    <Blazorise.Heading Size="Blazorise.HeadingSize.Is1">
                        <Blazorise.Button Clicked="@(() => collapseWooVisible = !collapseWooVisible)">
                            Woo Settings &nbsp;&nbsp;
                            @if (collapseWooVisible)
                            {<i class="oi oi-caret-top"></i>}
                            else
                            {<i class="oi oi-caret-bottom"></i>}
                        </Blazorise.Button>
                    </Blazorise.Heading>
                </Blazorise.CollapseHeader>
                <Blazorise.CollapseBody>
                    <WooPreferencesComponent WooSettingsModel="WooSettingsModel" Logger="_logger" />
                    <hr />
                    <div class="form-group row justify-content-center">
                        <div class=" col-md-6justify-content-center">
                            <Blazorise.Button Loading="IsSaving" Type="ButtonType.Submit" Class="btn btn-primary">Save</Blazorise.Button>
                            <button class="btn btn-outline-secondary" type="button">Return</button>
                        </div>
                    </div>
                    <div class="small text-right">@WooSettingsModel.WooSettingsId</div>
                </Blazorise.CollapseBody>
            </Blazorise.Collapse>
            <Blazorise.Collapse Visible="collapseWooCategoriesImport">
                <Blazorise.CollapseHeader>
                    <Blazorise.Heading Size="Blazorise.HeadingSize.Is1">
                        <Blazorise.Button Clicked="@(() => collapseWooCategoriesImport = !collapseWooCategoriesImport)">
                            Woo Categories Import &nbsp;&nbsp;
                            @if (collapseWooCategoriesImport)
                            {<i class="oi oi-caret-top"></i>}
                            else
                            {<i class="oi oi-caret-bottom"></i>}
                        </Blazorise.Button>
                    </Blazorise.Heading>
                </Blazorise.CollapseHeader>
                <Blazorise.CollapseBody>
                    <WooImportItemsComponent WooSettingsModel="WooSettingsModel" Logger="_logger" />
                </Blazorise.CollapseBody>
            </Blazorise.Collapse>
        </Blazorise.Accordion>




    </EditForm>
}
<!--------


    Need to add the logic of the import here, the Items view is "done" as is the log, so perhap do an items imprt as per the design - need to look at the packaging settings.




    -->
<RainbowOF.Components.Modals.ShowModalMessage @ref="ShowSavedStatus" ModalMessage="Woo Preferences Saved" ModalTitle="Saving Status" />
<RainbowOF.Components.Modals.ShowModalMessage @ref="ShowChangedStatus" ModalMessage="Woo Preferences not Saved please save first." ModalTitle="Woo Settngs must be saved" />
