@page "/WooImport"

<h3>Woo Import</h3>

@if (modelWooSettings == null)
{
    <div class="spinner-border m-5" role="status">
        <span class="sr-only">Loading...</span>
    </div>

}
else
{
    @if (isSaved)
    {
        <Blazorise.Badge Class="alert-info">Preferences Saved...</Blazorise.Badge>
    }

    <EditForm Model="@modelWooSettings" OnValidSubmit="HandleValidSubmitAsync" OnInvalidSubmit="HandleInvalidSubmit">
        <DataAnnotationsValidator />
        <Blazorise.ValidationSummary />

        <Blazorise.Accordion>
            <Blazorise.Collapse Visible="@collapseWooVisible">
                <Blazorise.CollapseHeader>
                    <Blazorise.Heading Size="Blazorise.HeadingSize.Is1">
                        <Blazorise.Button Clicked="@(() => collapseWooVisible = !collapseWooVisible)">
                            Woo Settings &nbsp;&nbsp;
                            @if (collapseWooVisible)
                            {
                                <i class="oi oi-caret-top"></i>
                            }
                            else
                            {
                                <i class="oi oi-caret-bottom"></i>
                            }
                        </Blazorise.Button>
                    </Blazorise.Heading>
                </Blazorise.CollapseHeader>
                <Blazorise.CollapseBody>
                    <WooPreferencesComponent WooSettingsModel="modelWooSettings" Logger="AppLoggerManager" />
                    <hr />
                    <div class="form-group row justify-content-center">
                        <div class=" col-md-6justify-content-center">
                            <Blazorise.Button Loading="isSaving" Type="ButtonType.Submit" Class="btn btn-primary">Save</Blazorise.Button>
                            <button class="btn btn-outline-secondary" type="button">Return</button>
                        </div>
                    </div>
                    <div class="small text-right">@modelWooSettings.WooSettingsId</div>
                </Blazorise.CollapseBody>
            </Blazorise.Collapse>
            <Blazorise.Collapse Visible="collapseWooCategoriesImport">
                <Blazorise.CollapseHeader>
                    <Blazorise.Heading Size="Blazorise.HeadingSize.Is1">
                        <Blazorise.Button Clicked="@(() => collapseWooCategoriesImport = !collapseWooCategoriesImport)">
                            Woo Categories Import &nbsp;&nbsp;
                            @if (collapseWooCategoriesImport)
                            {
                                <i class="oi oi-caret-top"></i>
                            }
                            else
                            {
                                <i class="oi oi-caret-bottom"></i>
                            }
                        </Blazorise.Button>
                    </Blazorise.Heading>
                </Blazorise.CollapseHeader>
                <Blazorise.CollapseBody>
                    <WooImportItemsComponent AppWooSettings="modelWooSettings" />
                </Blazorise.CollapseBody>
            </Blazorise.Collapse>
        </Blazorise.Accordion>
    </EditForm>

    <RainbowOF.Components.Modals.PopUpAndLogNotification @ref="PopChangedStatus" NotificationTitle="Woo Preferences not Saved please save first." NotificationMessage="Woo Settings must be saved" />

}


