@using Blazorise; 

<Modal @ref="modalRef">
    <ModalContent IsCentered="true" Size="ModalSize.Large">
        <ModalHeader>
            <ModalTitle>@confirmationTitle</ModalTitle>
            <CloseButton Clicked="@(() => OnConfirmationChangeAsync(false))" />
        </ModalHeader>
        <ModalBody>
            @confirmationMessage
        </ModalBody>
        <ModalFooter>
            <Blazorise.Button Color="@confirmColor" Clicked="@(() => OnConfirmationChangeAsync(true))">@confirmButtonText</Blazorise.Button>
            <Button Color="Color.Secondary" Clicked="@(() => OnConfirmationChangeAsync(false))">@cancelButtonText</Button>
        </ModalFooter>
    </ModalContent>
</Modal>
