@using Blazorise; 

<Modal @ref="modalRef">
    <ModalContent IsCentered="true" Size="ModalSize.Large">
        <ModalHeader>
            <ModalTitle>@_ConfirmationTitle</ModalTitle>
            <CloseButton Clicked="@(() => OnConfirmationChange(false))" />
        </ModalHeader>
        <ModalBody>
            @_ConfirmationMessage
        </ModalBody>
        <ModalFooter>
            <Blazorise.Button Color="@_ConfirmColor" Clicked="@(() => OnConfirmationChange(true))">@_ConfirmButtonText</Blazorise.Button>
            <Button Color="Color.Secondary" Clicked="@(() => OnConfirmationChange(false))">@_CancelButtonText</Button>
        </ModalFooter>
    </ModalContent>
</Modal>
