@*
    -------------------------------------------------------------
     Component to add a new Unit of Measure
     Parameter:
      > PopUpAndLogNotification PopUpRef - to display the notifications (and log them)
    -------------------------------------------------------------
*@

<Modal @ref="newUoMModalRef">
    <ModalContent Size="Blazorise.ModalSize.Default" Centered="true">
        <ModalHeader>
            <ModalTitle>
                <Icon Name="IconName.Add" />
                Add Unit of Measure (UoM)
            </ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Field>
                <FieldLabel>UoM Name</FieldLabel>
                <TextEdit Autofocus="true" Text="@newItemUoM.UoMName" TextChanged="@((v) => newItemUoM.UoMName = v)" Placeholder="Enter UoM name (eg kilogram)..." />
            </Field>
            <Field>
                <FieldLabel>UoM Symbol</FieldLabel>
                <TextEdit Text="@newItemUoM.UoMSymbol" TextChanged="@((v) => newItemUoM.UoMSymbol = v)" Placeholder="Enter UoM symbol (eg kg)..." />
            </Field>
            <Field>
                <FieldLabel>UoM Base</FieldLabel>
                @{
                    if ((_listOfUoMSymbols != null) && (_listOfUoMSymbols.Count> 0))
                    {
                        {
                            <Select TValue="Guid" SelectedValue="@(newItemUoM.BaseUoMId == null ? Guid.Empty : (Guid)newItemUoM.BaseUoMId)" SelectedValueChanged="@((v) => newItemUoM.BaseUoMId = v)">
                                <SelectItem TValue="Guid" Value="Guid.Empty">n/a</SelectItem>
                                @foreach (var item in _listOfUoMSymbols)
                                {
                                    <SelectItem TValue="Guid" Value="@(item.Key)">@item.Value</SelectItem>
                                }
                            </Select>
                        }
                    }
                }
            </Field>
            @if ((newItemUoM.BaseUoMId != null) && (!newItemUoM.BaseUoMId.Equals(Guid.Empty)))
            {
                <Field>
                    <FieldLabel>Base conversation</FieldLabel>
                    <Blazorise.NumericEdit Decimals="@newItemUoM.RoundTo" Value="@newItemUoM.BaseConversationFactor" Placeholder="How to convert this UoM to the base UoM, eg 1kg = 1000g"></Blazorise.NumericEdit>>
                </Field>
            }
            <Field>
                <FieldLabel>Round To</FieldLabel>
                <Blazorise.NumericEdit TValue="int" Value="@newItemUoM.RoundTo" Decimals="0" ValueChanged="@((v) => newItemUoM.RoundTo = (int)v)" Placeholder="What to round the displayed values to (eg 2 means 1.005 becomes 1.01"></Blazorise.NumericEdit>
            </Field>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Primary" Clicked="@(() => HideModal(true))">
                <Tooltip Text="Save Changes">
                    <Icon Name="IconName.Save"></Icon>
                </Tooltip>
            </Button>
            <Button Color="Color.Secondary" Clicked="@(() => HideModal(false))">
                <Tooltip Text="Close/Cancel">
                    <Icon Name="IconName.Undo"></Icon>
                </Tooltip>
            </Button>
        </ModalFooter>
    </ModalContent>
</Modal>


