@*
    -------------------------------------------------------------
    Component to add a new Attribute Variety

    Parameters:
        > PopUpAndLogNotification PopUpRef to display the results of the add
        > bool AddItemToWoo optional default is false;
    Uses:
        IAppUnitOfWork _appUnitOfWork
    -------------------------------------------------------------
*@
<Modal @ref="NewAttributeVarietyModalRef">
    <ModalContent Size="Blazorise.ModalSize.Default" Centered="true">
        <ModalHeader>
            <ModalTitle>
                <Icon Name="IconName.Add" />
                Add Attribute Variety
            </ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Field>
                <FieldLabel>Variety Name</FieldLabel>
                <TextEdit Autofocus="true" Text="@_NewItemAttributeVarietyLookupView.VarietyName" TextChanged="((vn) => _NewItemAttributeVarietyLookupView.VarietyName = vn)" Placeholder="Enter variety name..." />
            </Field>
            <Field>
                <FieldLabel>UoM</FieldLabel>
                <RainbowOF.Web.FrontEnd.Pages.ChildComponents.Lookups.UoMLookupSelectListComponent PopUpRef="PopUpRef" 
                                                                                                   SourceUoMId="_NewItemAttributeVarietyLookupView.UoMId" 
                                                                                                   UoMIdChangedEvent="@((u) => _NewItemAttributeVarietyLookupView.UoMId = u)" />
            </Field>
            <Field>
                <FieldLabel>Sort Order</FieldLabel>
                <TextEdit TextChanged="((sv) => _NewItemAttributeVarietyLookupView.SortOrder = Convert.ToInt32(sv))" InputMode="TextInputMode.Numeric" Text="@_NewItemAttributeVarietyLookupView.SortOrder.ToString()" Placeholder="Enter variety sort order..." />
            </Field>
            <Field>
                <FieldLabel>Add To Woo</FieldLabel>
                <Blazorise.Check TValue="bool" Checked="@(_NewItemAttributeVarietyLookupView.CanUpdateECommerceMap?? false)" CheckedChanged="((cv) => _NewItemAttributeVarietyLookupView.CanUpdateECommerceMap = cv)" ></Blazorise.Check>
            </Field>
            <Field>
                <FieldLabel>Notes</FieldLabel>
                <TextEdit Text="@_NewItemAttributeVarietyLookupView.Notes" TextChanged="((nv) => _NewItemAttributeVarietyLookupView.Notes = nv)" Placeholder="Any notes..." />
            </Field>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Primary" Clicked="@(() => HideModal(true))">
                <Tooltip Text="Save Changes">
                    <Icon Name="IconName.Save"></Icon>
                </Tooltip>
            </Button>
            <Button Color="Color.Secondary" Clicked="@(() => HideModal(false))">
                <Tooltip Text="Close">
                    <Icon Name="IconName.Undo"></Icon>
                </Tooltip>
            </Button>
        </ModalFooter>
    </ModalContent>
</Modal>


