@*
    ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    Component to display Units of Measure in a select list. Can pass in the source UoMId or if null will allow selection of one
    ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
     Parameter:
       > PopUpAndLogNotification PopUpRef - to display the notifications (and log them)
       > Guid Source - the Unite of Measure GUID Id
*@


@{
    <div class="d-inline-block">
        @if ((_ListOfUoMs != null) && (_ListOfUoMs.Count > 0))
        {
        <Select TValue="Guid" SelectedValue="@SelectedUoMId" SelectedValueChanged="@((v) => OnUoMIdChanged(v))">
            <SelectItem TValue="Guid" Value="Guid.Empty">n/a</SelectItem>
            @foreach (var item in _ListOfUoMs)
            {
                <SelectItem TValue="Guid" Value="@(item.Key)">@item.Value</SelectItem>
            }
        </Select>
        }
        <Button Color="Color.Primary" Clicked="@(() => NewUoMComponentRef.ShowModal())">
            <Tooltip Text="Add Unit of Measure">
                <Icon IconStyle="IconStyle.Solid" Name="IconName.Add"></Icon>
            </Tooltip>
        </Button>
    </div>
}


<RainbowOF.Web.FrontEnd.Pages.ChildComponents.Items.NewUoMComponent @ref="@NewUoMComponentRef" PopUpRef="PopUpRef" UoMAdded="@((r) => ReloadUoMList())" />    @* not using the result as yet *@